@model List<AnticaPizza.Models.History>

@{
    var groupedOrders = Model.GroupBy(o => o.NumeroOrdine).Reverse();
}
<div class="container">
    @foreach (var group in groupedOrders)
    {
        if (group.Any(o => !o.Stato))
        {
            decimal totalOrderPrice = 0;
            <div class="card mb-3">
                <div class="card-header">
                    Ordine numero #@group.Key
                </div>
                <div class="card-body">
                    <table class="table">
                        @foreach (var order in group)
                        {
                            <tr>
                                <td>@order.Menu.Nome</td>
                                <td>@order.Menu.Prezzo.ToString("0.00")€</td>
                            </tr>
                            totalOrderPrice += order.Menu.Prezzo;
                        }
                    </table>
                </div>
                <div class="card-footer">
                    <p>
                        Totale: @totalOrderPrice.ToString("0.00") €
                    </p>
                    <p>
                        Stato: Evaso
                    </p>
                </div>
            </div>
        }
    }
</div>